# Ignore virtual environment
venv/
.env/

# Ignore data files
!.csv
!.xlsx
!.xls


# Ignore profiling reports
!.html

# Ignore cache and system files
__pycache__/
.DS_Store
Thumbs.db

# VS Code files
.vscode/

*.joblib filter=lfs diff=lfs merge=lfs -text